<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            All articles belong to <a href='' target="_blank">Stelios!!!</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>