<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Scraper Watch News</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            {{!-- <li><a href="">Git Repo</a></li> --}}
            <li><a href="https://github.com/Steliosk9/All-the-News-That-s-Fit-to-Scrape" target="_blank">Git Repo</a></li>
        </ul>
    </div>
</nav>